
# Ambientes Virtuais
.venv/
venv/
env/

# Compilados do Python (Lixo de cache)
__pycache__/
*.pyc

# Banco de dados local (Geralmente não versionamos o DB real)
*.db
*.sqlite3

# Logs e configurações da IDE
.vscode/
.idea/