# Ambientes Virtuais
.venv/
venv/
env/

# PyCharm e VS Code (Configurações locais não vão pro Git)
.idea/
.vscode/
*.iml

# Python Cache (Lixo compilado)
__pycache__/
*.pyc

# Banco de Dados
*.db
*.sqlite3